<h3>Important Dates <small>(tentative, subject to change)</small></h3>

<dl class="dl-horizontal dl-horizontal-wide">
  <dt>Paper Submissions Due</dt>
  <dd>March 9, 2015</dd>
  
  <dt>Results Notification</dt>
  <dd>May 20, 2015</dd>
  
  <dt>Camera-ready Version Due</dt>
  <dd>June 10, 2015</dd>
  
  <dt>Poster Submissions Due</dt>
  <dd>June 1, 2015</dd>
  
  <dt>Poster Notification</dt>
  <dd>June 20, 2015</dd>
  
  <dt>NPC 2015 Conference</dt>
  <dd>September 17-19, 2015 in New York</dd>
</dl>
