<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h3>Sponsored By</h3>
    <img src="/images/ifip.jpg" class="img-responsive">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h3><small>In cooperation with</small></h3>
    <img src="/images/sigmicro.gif" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h3>Bronze Sponsors</h3>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <img src="/images/Huawei_logo.jpg" class="center-block img-responsive">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <img src="/images/IBM_logo.png" class="center-block img-responsive" style="padding-top: 25%;">
  </div>
</div>